$mainFontFamily:"Poppins",
sans-serif;

// for global

$navbarSearchInputBg: #f3f3f3;
$navbarLinkColor:#000;

// for navigation

$navbarLinkHoverColor: #3e976c;
$navbarButtonColor:#000;
$navbarBadgeBgColor: #bdefd6;
$navbarBadgeColor: #3e976c;
$navbarBgColor:rgba(255, 255, 255, 0.8);
$navbarMoveBoxShadow: #0000001a;

// for slider

$sliderDotBgColor: #bdefd6;
$sliderDotBgActiveColor: #3e976c;

// for product-box

$productBoxButtobBgColor:#fff;
$productBoxButtonBgHoverColor:#3e976c;
$productBoxButtonFontColor:#000;
$productBoxButtonFontHoverColor: #fff;
$productBoxTitleFontColor: #7a7a7a;
$productBoxRatingColor:#f2b03d;

// for  blog

$blogBgColor:#f9f9f9;
$blogPostBgColor: #ffffff;
$blogPostCategoryColor: #d2d2d2;
$blogPostDescFontColor:#999999;
$blogPostTitleFontColor:#000;

// for inform

$informBgColor: #ffffff;
$informFooterFontColor:#999;
$informFooterIcons:#f3f3f3;
$informFooterPartsPartShopFontColorHeadline:#3c3c3c;
$informFooterPartsPartShopFontColorItem:#999;
$informPartsNewsletterBg:#f2f2f2;
$informFooterNewsEmailBg:#f2f2f2;
$informFooterNewsEmailInput:#000;
$InformFooterFontSubscribe:#3e976c;